@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Code+Pro);

html{
  font-size:62.5%;
}

body{
  background:#eee;
  color:#444;
  font-size:1.4rem;
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

#logo{
  width:100%;
  max-width:800px;
  margin:0 auto;
  display:block;
}

h1{
  font-size:1.6rem;
  line-height: 3rem;
  text-align: center;
}

footer{
  color:#eee;
  background:#222;
  #tweets{
    li{
      padding:1.5rem 4rem;
      overflow: hidden;
      display: block;
      &:before{
        content: '';
        display:block;
        width:10%;
        height:0;
        padding-top:10%;
        margin:0 auto 0.5rem;
        background: url(../img/twitter.svg) center center no-repeat;
        background-size:90%;
      }
    }
    img{
      display:block;
      width:25%;
      float:right;
      margin:0 0 1rem 1rem;
    }
    a{
      color:#aaa;
    }
    .tco-hidden{
      display:none;
    }
    .tweet-infos{
      text-align:right;
      font-style:italic;
      clear:both;
      padding-top:1rem;
    }
  }
}


.global-object{
  overflow:hidden;
  padding:2rem 0;
  margin:2rem 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  line-height: 2rem;
  padding:1rem;
  color:#444;
  text-align: center;
  position:relative;
  .bt-toggle{
    transition: 0.3s ease transform;
    position:absolute;
    padding:0;
    border-radius:50%;
    background:#444;
    width:3rem;
    height:3rem;
    border:0;
    top:1rem;
    right:2rem;
    transform: rotate(90deg);
    outline: 0;
    &.closed{
      transform: rotate(0);
    }
    &:after{
      content:'';
      display:block;
      width:0;
      height:0;
      border-style:solid;
      border-width:0.75rem 0 0.75rem 0.75rem;
      border-color:transparent transparent transparent #eee;
      position:absolute;
      top:0.75rem;
      left:1.25rem;
    }
  }
  ul{
    text-align: left;
    display:block;
    display: inline-block;
  }
  li{
    padding:0 2rem;
    display:block;
    vertical-align:top;
  }
  .key{
    vertical-align:top;
    display: inline-block;
    color:#888;
    + ul{
      display: inline-block;
    }
  }
  .string{
    color:#C9C300;
    &:before,
    &:after{
      content:'\'';
    }
  }
  .int{
    color:#F7A916;
  }
  .bool{
    color:#C76CCC;
  }
  .null{
    color:#73BA8F;
  }
  .function{
    color:#739FBA;
    &:before{
      content:'function(){';
    }
    &:after{
      content:'}';
    }
  }
  .date{
    color:#E37171;
    &:before{
      content:'new Date(';
    }
    &:after{
      content:')';
    }
  }
  .object{
    &:before{
      content:'{';
    }
    &:after{
      content:'}';
    }
    li{
      &:after{
        content:',';
        display: inline-block;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .array{
    &:before{
      content:'[';
    }
    &:after{
      content:']';
    }
    li{
      &:after{
        content:',';
        display: inline-block;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .leading-commas{
    > li{
      margin:0.25rem 0;
      &:after{
        display: none;
      }
      &:before{
        content:',';
        display: inline-block;
        padding-right:0.5rem;
        vertical-align: top;
        color:#888;
      }
      &:first-child{
        &:before{
          opacity:0;
        }
      }
    }
  }
  .toggle{
    position:relative;
    > .key:after{
      content:'';
      display:inline-block;
      width:0;
      height:0;
      margin-left:0.5rem;
      position:absolute;
      border-style:solid;
      border-width:0.5rem 0.5rem 0 0.5rem;
      border-color:#444 transparent transparent transparent ;
      left:0.25rem;
      top:1rem;
    }
    &.closed > .key:after{
      border-width:0.5rem 0 0.5rem 0.5rem;
      border-color:transparent transparent transparent #444;
      left:0.5rem;
      top:0.5rem;
    }
  }
  .closed{
    > .array{
      &:after{
        content:' ... ]';
      }
      > li {
        display: none;
      }
    }
    > .function,
    > .object{
      &:after{
        content:' ... }';
      }
      > li {
        display: none;
      }
    }
  }
}