@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Code+Pro);

$medium: "(min-width: 768px)";
$large: "(min-width: 1024px)";

$colors: (
  #222
  #444
  #888
  #aaa
  #eee
);

$code: (
  string: #009688,
  int: #E91E63,
  bool: #EF6C00,
  null: #2196F3,
  function: #7E57C2,
  date: #8D6E63
);

$jsColors: (
  #DD1B16,
  #61DAFB,
  #27272B,
  #0071B5
);

$cssColors: (
  #CF649A,
  #FF6347,
  #1D365D
);

$animationDuration: 0.5s;

$chartSize:15rem;

html{
  font-size:62.5%;
}

body{
  background:nth($colors, 5);
  color:nth($colors, 2);
  font-size:1.4rem;
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

#logo{
  width:100%;
  max-width:80rem;
  margin:0 auto;
  display:block;
}

#pic{
  width:25%;
  max-width:20rem;
  display:block;
  border-radius:50%;
  margin:-5% auto 2.5%;
  @media #{$large} {
    margin-top:-2rem;
  }
}

h1{
  font-size:1.6rem;
  line-height: 3rem;
  text-align: center;
}

h2{
  font-size:1.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin:3rem 0 1rem;
}

body{
  background:#eee;
  padding:10px;
}

.charts{
  overflow:hidden;
  .dynamic-chart{
    text-align: center;
    @media #{$medium} {
      float:left;
      width:50%;
    }
  }
}

.chart{
  width:$chartSize;
  height:$chartSize;
  position:relative;
  border-radius:50%;
  border-width:$chartSize/30;
  border-style:solid;
  border-color:#ddd;
  margin:0 auto;
  @media #{$medium} {
    width:$chartSize*1.2;
    height:$chartSize*1.2;
  }
  @media #{$large} {
    width:$chartSize*1.4;
    height:$chartSize*1.4;
  }
  &:before{
    content:'';
    position:absolute;
    border-radius:50%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-width:$chartSize/30 + $chartSize/5.5;
    border-style:solid;
    border-color:#ddd;
  }
  &:after{
    content:'';
    position:absolute;
    border-radius:50%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-width:$chartSize/5.5;
    border-style:solid;
    border-color:#bbb;
  }
  .circle{
    transition:opacity $animationDuration/2 linear;
    opacity:1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    > [class^=half]{
      position:absolute;
      top:0;
      bottom:0;
      overflow:hidden;
      .half-circle{
        position:absolute;
        top:0;
        bottom:0;
        content:'';
        display:block;
        border-radius:50%;
        border-width:$chartSize/45;
        border-style:solid;
        border-color:transparent;
        transform:rotate(45deg);
        &:before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-style: solid;
          border-width: $chartSize/7.5;
          margin:0rem;
          border-radius: 50%;
          z-index: 1;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-style: solid;
          border-width: $chartSize/45;
          margin:$chartSize/7.5;
          border-radius: 50%;
          z-index: 2;
        }
      }
    }
    .half-right{
      right:0;
      left:50%;
      .half-circle{
        transition:transform $animationDuration linear;
        right:0;
        left:-100%;
      }
    }
    .half-left{
      right:50%;
      left:0;
      .half-circle{
        transition:transform $animationDuration/2 linear $animationDuration/2;
        right:-100%;
        left:0;
      }
      & + .half-right{
        .half-circle{
          transition:transform $animationDuration/2 linear;
        }
      }
    }
  }
  &.inactive{
    .circle{
      opacity:0;
      > [class^=half]{
        .half-circle{
          transform:rotate(45deg) !important;
          transition:none;
        }
      }
    }
  }
}

.chart-list{
  display: inline-block;
  text-align: left;
  margin:1rem 0 3rem;
  li{
    &:before{
      content:'';
      display: inline-block;
      width:2rem;
      height:1rem;
      margin-right:1rem;
    }
  }
}

@mixin setChartColors($colors) {
  $length: length($colors);
  $count: $length;
  @each $color in $colors {
    .circle:nth-child(#{$length}n+#{$count}){
      .half-right{
        .half-circle{
          border-color: transparent transparent lighten($color,10%) lighten($color,10%);
          &:before{
            border-color:transparent transparent $color $color;
          }
          &:after{
            border-color: transparent transparent darken($color,10%) darken($color,10%);
          }
        }
      }
      .half-left{
        .half-circle{
          border-color:lighten($color,10%) lighten($color,10%) transparent transparent;
          &:before{
            border-color:$color $color transparent transparent;
          }
          &:after{
            border-color:darken($color,10%) darken($color,10%) transparent transparent;
          }
        }
      }
    }
    $count:$count - 1;
  }
  @each $color in $colors {
    $count:$count + 1;
    .chart-list{
      li:nth-child(#{$length}n+#{$count}){
        &:before{
          background:$color;
        }
      }
    }
  }
}

.chart-js{
  @include setChartColors($jsColors);
}

.chart-css{
  @include setChartColors($cssColors);
}

.global-object{
  overflow:hidden;
  padding:2rem 0;
  margin:2rem 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  line-height: 2rem;
  padding:3rem 1rem 1rem;
  color:nth($colors, 2);
  text-align: center;
  position:relative;
  a{
    text-decoration:none;
    color:inherit;
  }
  .bt-toggle{
    transition: 0.3s ease transform;
    position:absolute;
    padding:0;
    border-radius:50%;
    background:nth($colors, 2);
    width:3rem;
    height:3rem;
    border:0;
    top:0;
    left:50%;
    margin-left:-1.5rem;
    transform: rotate(90deg);
    outline: 0;
    cursor: pointer;
    &.closed{
      transform: rotate(0);
    }
    &:after{
      content:'';
      display:block;
      width:0;
      height:0;
      border-style:solid;
      border-width:0.75rem 0 0.75rem 0.75rem;
      border-color:transparent transparent transparent nth($colors, 5);
      position:absolute;
      top:0.75rem;
      left:1.25rem;
    }
  }
  ul{
    text-align: left;
    display:block;
    display: inline-block;
  }
  li{
    padding:0 2rem;
    display:block;
    vertical-align:top;
  }
  .key{
    vertical-align:top;
    display: inline-block;
    color:nth($colors, 3);
    + ul{
      display: inline-block;
    }
  }
  .string{
    color:map-get($code, string);
    &:before,
    &:after{
      content:'\'';
    }
  }
  .int{
    color:map-get($code, int);
  }
  .bool{
    color:map-get($code, bool);
  }
  .null{
    color:map-get($code, null);
  }
  .function{
    color:map-get($code, function);
    &:before{
      content:'function(){';
    }
    &:after{
      content:'}';
    }
  }
  .date{
    color:map-get($code, date);
    &:before{
      content:'new Date(';
    }
    &:after{
      content:')';
    }
  }
  .object{
    &:before{
      content:'{';
    }
    &:after{
      content:'}';
    }
    li{
      &:after{
        content:',';
        display: inline-block;
      }
      .function > li,
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .array{
    &:before{
      content:'[';
    }
    &:after{
      content:']';
    }
    li{
      &:after{
        content:',';
        display: inline-block;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .leading-commas{
    > li{
      margin:0.25rem 0;
      &:after{
        display: none;
      }
      &:before{
        content:',';
        display: inline-block;
        padding-right:0.5rem;
        vertical-align: top;
        color:nth($colors, 3);
      }
      &:first-child{
        &:before{
          opacity:0;
        }
      }
    }
  }
  .toggle{
    position:relative;
    > .key:after{
      content:'';
      display:inline-block;
      width:0;
      height:0;
      margin-left:0.5rem;
      position:absolute;
      border-style:solid;
      border-width:0.5rem 0.5rem 0 0.5rem;
      border-color:nth($colors, 2) transparent transparent transparent ;
      left:0.25rem;
      top:1rem;
    }
    &.closed > .key:after{
      border-width:0.5rem 0 0.5rem 0.5rem;
      border-color:transparent transparent transparent nth($colors, 2);
      left:0.5rem;
      top:0.5rem;
    }
  }
  .closed{
    > .array{
      &:after{
        content:' ... ]';
      }
      > li {
        display: none;
      }
    }
    > .function,
    > .object{
      &:after{
        content:' ... }';
      }
      > li {
        display: none;
      }
    }
  }
}

aside{
  .pdf{
    display: block;
    background:linear-gradient(-135deg, transparent 2rem, nth($colors, 2) 0%);
    color:nth($colors, 5);
    width:7rem;
    padding:6rem 0 2rem;
    margin:0 auto;
    position:relative;
    text-align:center;
    text-decoration:none;
    &:after{
      content:'';
      display: block;
      position:absolute;
      top:0;
      right:0;
      background:linear-gradient(-135deg, transparent 2rem, nth($colors, 1) 0%);
      width:2.82843rem;
      height:2.82843rem;
      @media #{$large} {
        background:linear-gradient(-135deg, transparent 2rem, nth($colors, 3) 0%);
      }
    }
  }
  li{
    margin:0 auto 1rem;
    padding:0 3rem;
    display: block;
    box-sizing: border-box;
    @media #{$medium} {
      width:50%;
      float:left;
    }
    @media #{$large} {
      width:auto;
      float:none;
    }
    a{
      background:nth($colors, 2);
      padding:1rem;
      display: block;
      color:nth($colors, 5);
      text-align: center;
      text-transform: uppercase;
      text-decoration:none;
    }
  }
  @media #{$large} {
    transition:0.3s ease margin;
    color:#eee;
    background:nth($colors, 1);
    position:fixed;
    top:0;
    bottom:0;
    right:100%;
    margin-right:0;
    width:25rem;
    overflow: auto;
  }
}

footer{
  color:nth($colors, 5);
  background:nth($colors, 1);
  #tweets{
    li{
      padding:1.5rem 4rem;
      overflow: hidden;
      display: block;
      &:before{
        content: '';
        display:block;
        width:10%;
        height:0;
        padding-top:10%;
        margin:0 auto 0.5rem;
        background: url(../img/twitter.svg) center center no-repeat;
        background-size:90%;
      }
    }
    img{
      display:block;
      width:25%;
      float:right;
      margin:0 0 1rem 1rem;
    }
    a{
      color:nth($colors, 4);
    }
    .tco-hidden{
      display:none;
    }
    .tweet-infos{
      text-align:right;
      font-style:italic;
      clear:both;
      padding-top:1rem;
    }
  }
  @media #{$large} {
    transition:0.3s ease margin;
    position:fixed;
    top:0;
    bottom:0;
    left:100%;
    margin-left:0;
    width:25rem;
    overflow: auto;
  }
}

.wrapper{
  @media #{$large} {
    transition:0.3s ease padding;
    padding:0;
    .toggle-links,
    .toggle-twitter{
      position:fixed;
      top:50%;
      margin-top:-1.5rem;
      background:nth($colors, 2);
      width:3rem;
      height:3rem;
      cursor:pointer;
      &:after{
        content:'';
        display:block;
        border-style:solid;
        position:absolute;
        top:0.75rem;
        transform:rotate(0);
        transition: 0.3s ease transform;
      }
    }
    .toggle-links{
      transition:0.3s ease left;
      left:0;
      &:after{
        border-width:0.75rem 0 0.75rem 0.75rem;
        border-color:transparent transparent transparent nth($colors, 5);
        left:1.125rem;
      }
    }
    .toggle-twitter{
      transition:0.3s ease right;
      right:0;
      &:after{
        border-width:0.75rem 0.75rem 0.75rem 0;
        border-color:transparent nth($colors, 5) transparent transparent;
        right:1.125rem;
      }
    }
    &.show-links{
      padding-left:25rem;
      aside{
        margin-right:-25rem;
      }
      .toggle-links{
        left:25rem;
        &:after{
          transform:rotate(-180deg);
        }
      }
    }
    &.show-twitter{
      padding-right:25rem;
      footer{
        margin-left:-25rem;
      }
      .toggle-twitter{
        right:25rem;
        &:after{
          transform:rotate(180deg);
        }
      }
    }
  }
}
